.jconfirm-content, .jconfirm-title {
    color: #170e0e;
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
}

.progress {
  height: 18px;
}

.jstree-default .jstree-hovered {
	background:#000;
	border-radius:12px;
	box-shadow:inset 0 0 1px #ccc
}

.jstree-default .jstree-clicked {
    border-radius: 2px;
    box-shadow: inset 0 0 1px #999;
}

.logo {
	width: 300px;
}
#content {
	margin-left: 300px;
	min-height: 600px;
}
#sidebar {
    width: 300px;
    min-height: 600px;
    padding-left: 0px;
    float: left;
    background: rgba(0,0,0,0.3);
    height: 100%;
    position: absolute;
}

.side-widgets {
    width: 300px;
    float: left;
    position: relative;
}

#sp3d-indicator {
    width: 45px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
}

.sk-cube-grid {
  width: 35px;
  height: 35px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #FFF;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.containerx {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #fff;
    border-radius: 50%;
    border: solid 0.5px #939292;
}

/* On mouse-over, add a grey background color */
.containerx:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerx input:checked ~ .checkmark {
    background-color: #f8f8f8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    left: -2px;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerx input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerx .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background: grey;
}

fieldset {
  padding: 13px;
  margin-bottom: 10px;
  border: #595959 1px solid;
  margin-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
}

legend {
  margin-bottom: -6px;
  font-size: 14px;
  display: block;
  width: 75%;
  padding: 9px;
  margin-bottom: -5px;
  font-size: 13px;
  line-height: inherit;
  color: #333;
  background: #cdcde9;
  border: 1px #595959 solid;
  font-weight: bold;
  margin-left: 46px;
}

th.vth {
  height: 165px;
  font-size: 11px;
  white-space: nowrap;
}

th.vth > div {
  transform: 
   rotate(270deg) translate(-137px, -4px);
   width: 20px;
}

th.vth > div > span {
  padding: 5px 10px;
}

#skin-polygon {
    background: url(../imgf/polygon.png);
}

.tile-light {
    background: rgba(100, 111, 101, 0.33);
}

#header, #header > .media-body, #header #top-menu {
    overflow: visible;
    background-color: #64a9cf;
}

#sidebar {
    width: 300px;
    min-height: 600px;
    padding-left: 0px;
    float: left;
    background: rgba(118, 153, 179, 0.78);
    height: 100%;
    position: absolute;
}

.logo {    
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 14px 0 10px 1px;
    font-size: 15px;
    margin-right: 9px !important;
    background: rgba(0, 0, 0, 0.23);
    font-weight: bold;
    color: #fff;
}

#sp3d-indicator {
    width: 45px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: rgba(62, 111, 143, 0.5);
}

body, a, input, .help-block {
    color: #0b0a01;
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
}

.form-control, .form-control:focus {
    background: #fff;
    border: solid 1px #333;
    color: #222;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    line-height: normal !important;
    background-image: url(imgf/select-bg2.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #2982A2;
}

.main-search {
    height: 36px;
    border: 0;
    width: 95%;
    font-size: 16px;
    background-color: transparent;
    background-image: url(../img/icon/search.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 32px;
    color: #fff;
}
/*style:318*/

#top-menu #time {
    font-size: 20px;
    padding-top: 10px;
    margin-right: 4px;
    color: #fff;
}
/*style:279*/

.breadcrumb > .active {
    color: #289599;
}
/*style:1058*/

.tile, .tile-dark, .tile-title, .table th {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
/*style:1932*/

.tile, .tile-dark, .tile-title, .table th {
    background: rgba(72, 168, 200, 0.43);
}
/*style:1672*/

.tile-title {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
}
/*style:575*/
div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
    color: #060000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #0e0202 !important;
    border: 1px solid #7870ad;
    background: #4a5c7100;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #0e0303 !important;
    border: 1px solid rgba(26, 4, 4, 0.3);
    background-color: transparent;
}

.tile-title {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
    background-color: #6ab0d1;
}
.tile, .tile-dark, .tile-title, .table th {
    background: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: 1px solid #9bb2cf;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th, .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background: rgba(255, 253, 253, 0.8);
}

table.dataTable tbody tr {
    background-color: rgba(103, 146, 177, 0.5);
}

#sidebar {
    width: 300px;
    min-height: 600px;
    padding-left: 0px;
    float: left;
    background: rgb(252, 253, 254);
    height: 100%;
    position: absolute;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {

    border-top: 0;
    border-top-color: currentcolor;
    background-color: #67a8c2;
    color: #fff;
}
.tile-title {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
    background-color: #63abc8;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th, .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background: rgba(121, 144, 117, 0.2);
}

.webui-popover-inverse .webui-popover-title {
    background: #9fb727;
    border-bottom: 1px solid #b5c3cc00;
    color: #fff;
}

.webui-popover .webui-popover-content {
    padding: 9px 14px;
    overflow: auto;
    display: block;
    background-color: #4199c2;
}

.profile-menu > li > a {
    color: #6c7530;
    padding: 8px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tile-config > .eyes-menu {
    width: 34px;
    height: 31px;
    display: inline-block;
    background-color: #050c44;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../css/eye-view.png);
}

#form-engine {
  width: 400px; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  padding: 20px;
  background: url(../imgf/polygon.png);
  color: #000;
}

.tile-title {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}
select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    line-height: normal !important;
    background-image: url(../imgf/select-bg2.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #2982A2;
}

::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }