#data-area-container {
  display: none;
}
.informasi select {
    border: 1px solid #6464AC;
    background-color: white;
    border-radius: 1px;
    padding: 6px;
    width: 200px;
    margin: 3px;
    box-shadow: inset 0
                1px 1px
                rgba(0, 0, 0, 0.075),
                0 0 2px
                rgba(82, 168, 236, 0.6);
}

.informasi select:focus,
.informasi input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    border-radius: 1px;
    outline: 0;
}
.informasi select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    line-height: normal !important;
    background-image: url(imgf/select-bg2.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #2982A2;
  }
  .informasi .btn {
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
}
@media (max-width: 450px){
    .informasi select,
    input[type*=date],
    input[type=text],
    input[type=tel],
    input[type=email],
    input[type=url],
    input[type=password] {
      width: 100%;
      margin: 5px 0;
    }
    .informasi .btn {
      display: inline-block;
      padding: 6px 12px;
      width: 100%;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 0;
    }
}

.select {
  padding: 50px 0;
}

.select select {
    border: 1px solid #32C5C0;
    background-color: white;
    border-radius: 1px;
    padding: 6px;
    width: 200px;
    margin: 3px;
    box-shadow: inset 0
                1px 1px
                rgba(0, 0, 0, 0.075),
                0 0 2px
                rgba(82, 168, 236, 0.6);
}

.select select:focus,
.select input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    border-radius: 1px;
    outline: 0;
}
.select select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    line-height: normal !important;
    background-image: url(imgf/select-bg2.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #2982A2;
  }
  @media (max-width: 450px){
    .select select {
      width: 100%;
      margin: 5px 0;
    }
}

.select .button {
    display: inline-block;
    border-radius: 3px;
    background-color: #32C5C0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.select .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.select .button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.select .button:hover span {
  padding-right: 25px;
}

.select .button:hover span:after {
  opacity: 1;
  right: 0;
}

/* SITE-BOX-Modul */
h1.modul {
  text-align: center;
  margin: 30px 5px 10px;
  color: #645454;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
}
h2.modul {
  text-align: center;
  font-family: arial;
  font-size: 16px;
  margin-bottom: 80px;
  color: #6D6868;
}
.boxmodul {
  width: 100%;
  min-height: 160px;
  border: 1px solid #eee;
  margin: 70px auto;
  padding: 5px;
  box-shadow: 0px 4px 3px #999;
  background-color: rgb(241,241,241); 
}
.boxmodul:hover {
  box-shadow: 0 30px 20px #999;
}
.boxmodul > .icon {
  margin: 0 -20px;
}
.boxmodul > .icon img{
  display: block;
  width: 130px;
  height: 130px;
  margin: -88px auto;
}
.boxmodul > h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 555;
  margin: 50px 0 10px 0;
}
.boxmodul > .berita {
  width: 100%;
  height: 230px;
  background-color: white; 
  overflow: auto;
  margin-bottom: 5px;
  padding: 10px 3px 3px 5px;
}
.boxmodul > .berita > p {
  color: #2A2828;
  text-align: center;
  font-family: MontserratLight, arial;
}
.boxmodul > .btn {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  padding: 5px;
}
.boxmodul > .btn:hover {
  background-color: #A2C32F;
  color: #fff;
  font-weight: bold;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
@font-face {
   font-family: MontserratLight;
   src: url(../fonts/montserrat/Montserrat-Light.otf);
}
/* overide style ofsuperadmin */
.main-search {
    height: 36px;
    border: 0;
    width: 95%;
    font-size: 16px;
    background-color: transparent;
    background-image: url(../img/icon/search.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 32px;
    color: #fff;
}

#top-menu #time {
    font-size: 20px;
    padding-top: 10px;
    margin-right: 4px;
    color: #fff;
}