.top-header{
  border-top: 3px solid #4b77be;
  width: 100%;
  padding: 2px;
  background: url(../imgf/bg-top-header.png) no-repeat top center;
  min-height: 80px;
  z-index:100; /*z-index dgn nilai besar berfungsi supaya header selalu tampil didepan*/
  position: fixed;
}
@media(max-width: 1000px) {
  .top-header{
    background: url(../imgf/bg-top-header2.png) no-repeat top center;
}
}
@media(max-width: 800px) {
  .top-header{
    background: url(../imgf/bg-top-header3.png) no-repeat top center;
}
}
@media(max-width: 500px) {
  .top-header{
    background: url(../imgf/bg-top-header4.png) no-repeat top center;
}
}
@media(max-width: 400px) {
  .top-header{
    background: url(../imgf/bg-top-header5.png) no-repeat top center;
}
}
.top-header .logo{
  width: 400px;
}
@media (max-width: 600px) {
 .top-header .logo{
  width: 300px;
} 
}
@media (max-width: 400px) {
 .top-header .logo{
  width: 100%;
} 
}
.top-header .logo img{
  padding: 18px 0 0 0;
  float: left;
  width: 100%;
  z-index: 230;
}
.top-header .slogan img{
  padding: 0 100px 0 0;
  width: 400px;
  float: right;
}
@media (max-width: 500px){
  .top-header .slogan img{
    padding-top: 10px;
    width: 200px;
    float: none;
    }
  }
.top-header .button{
	padding: 10px 5px;
	float: right;
  animation-delay:3.5s; /* animasi akan dijalankan setelah 3.5 detik */
}

@media (max-width: 500px){
 
 .top-header .button{
    padding: 10px 5px 7px 0;
  } 
}
/*.top-header{
  -webkit-box-shadow: 0 7px 6px -6px #999;
     -moz-box-shadow: 0 7px 6px -6px #999;
          box-shadow: 0 7px 6px -6px #999;
}*/

.btn-register {
    background-color: #be9e21;
    border: 1px solid #eee;
}
.btn-register:hover {
  background-color: #0077bb;
  border: 1px solid #eee;
  color:  #eee;
}
.btn-login, .btn-login:focus {
    background-color: #0077bb;
    margin-left: 12px;
    color: #eee;
}
.btn-login:hover {
    background: #be9e21;
    color: #fff;
}
.overlay-detail a i{
   text-align: center;
   position: absolute;
   bottom: 25px;
   font-size: 38px;
   color: #fff;
}
/* ------------------------------------- */
.informasi{
  padding: 60px 0;
  min-height: 270px;
  width: 100%; 
}
.box {

}
.box i {
  margin-top: 10px;
  margin-bottom: 30px;
}
.box h4 {
  font-size: 34px;
  margin-bottom: 15px;
}
.box p{
  font-size: 18px;
  margin-bottom: 50px;
  color: #16a085;
}
@media (max-width: 800px) {
    .box i {
      margin-top: 0px;
      margin-bottom: 10px;
      }
    .box h4 {
      font-size: 20px;
      margin-bottom: 10px;
      }
    .box p {
      margin-bottom: 50px;
    } 
}
.circled {
  border: 3px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  line-height: 1.6em;
}

/*--------- Background -----------------*/
.bg-blue{
  background-color: #3498db;
}
.bg-green{
  background-color: #1abc9c;
}
.bg-ungu{
  background-color: #9b59b6;
}
.bg-skin {
  background: #4ACCD1;
}
.bg-gray{
  background-color: #fafafa;
}
.bg-white{
  background-color: #fff;
}
h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
  font-weight: 700;
}
.text-center{
  text-align: center;
}
.center{
  width: 100%;
  text-align: center;
}
.content{
	min-height: 430px;
  padding: 50px 10px;
}
.footer{
  width: 100%;
  background:url(../imgf/bg-footer2.png) no-repeat center;
  border-top: 3px solid #f39c12;
  min-height: 160px;
  color: #fff;
  text-align: center;
  padding: 28px 0 20px 0;
  border-bottom: 27px solid #2c3e50;
}
.footer p{
  font-size: 12px;
  margin: 2px;
}

.txtin {
    background: #fffdfc4d;
    padding: 5px 15px 5px;
    position: relative;
    left: 0;
    top: 10px;
}

.btn-register, .btn-login, .btn-register:hover, .btn-register:focus, .btn-login:focus {
    text-transform: uppercase;
    border: 1px solid #eee;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 5px 30px;
    margin: 107px 0 0 0;
    border-radius: 60px;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
    font-family: 'Fira Sans', sans-serif;
}




.banner-info {
  padding-top: 70px;
  background-color: #0000;
  height: 380px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bnr-logo {
  padding-top: 30px;
  width: 90px;
}
@media (max-width: 770px) {
  .bnr-logo {
    padding-top: 30px;
    width: 60px;
  }
 }
@media (max-width: 500px) {
  .bnr-logo {
    padding-top: 50px;
    width: 60px;
  }  
}
h2.bnr-title{
  margin-top: 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #777;
}
@media (max-width: 770px) {
 h2.bnr-title{
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  } 
}

h1.bnr-sub-title{
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0px;
    font-weight: 700;
    color: #5692C0;
}
@media (max-width: 500px) {
  h1.bnr-sub-title{
    font-size: 22px;
    padding: 10px 0px;
  } 
}
.iconjatim {
  position: relative;
  margin-top: -70px;
  min-height: 400px;
  margin-bottom: 60px;
}
@media (max-width: 900px) {
  .iconjatim {
    margin-top: -10px;
    min-height: 200px;
    
  }
}
.icon {
  position: absolute;
  width: 100%;
}

.bnr-title, .bnr-sub-title {
  font-family: 'Fira Sans', sans-serif;
  color: #eee;
}
p.bnr-para {
    margin: 100px 0px 30px;
    font-weight: 400;
    color: #87B5D6;
    font-size: 20px;
    text-align: center;
}
.btn-register, .btn-login, .btn-register:hover, .btn-register:focus, .btn-login:focus {
    text-transform: uppercase;
    border: 1px solid #eee;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 5px 30px;
    margin: 80px 0 0 0;
    border-radius: 60px;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
    font-family: 'Fira Sans', sans-serif;
}
@media (max-width: 600px) {
  .btn-register, .btn-login, .btn-register:hover, .btn-register:focus, .btn-login:focus {
    text-transform: uppercase;
    margin-top: 5px;
    border: 1px solid #eee;
    color: #fff;
    border: 0;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    padding: 5px 15px;
    border-radius: 60px;
    margin: 5px 10px 0 0;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
    font-family: 'Fira Sans', sans-serif;
  }
}